.primaryTextColor{-fx-text-fill: #ffffff; -fx-fill: #ffffff;}
.secondTextColor{-fx-text-fill: #000000; -fx-fill: #000000;}
.thirdTextColor{-fx-text-fill: #cc3333; -fx-fill: #cc3333;}
.primaryThemeColor{-fx-background-color: #cc3333;}
.secondThemeColor{-fx-background-color: #ffffff;}
.sublimedTextField{-fx-border-color: #cc3333;}
.primaryIconColor{-fx-fill: #000000;}
.secondIconColor{-fx-fill: #cc3333;}
